extends layout

block content
  h1 Todo List
  if todos.total_rows > 0
    ul
      each todo in todos.rows
        li
          form(method="post", action="/todo/#{todo.id}?_method=DELETE")
            input(type="hidden", name="list_id", value="#{list_id}")
            input(type="hidden", name="text", value="#{todo.doc.text}")
            | #{todo.doc.text} 
            button(type="submit") Delete
  else
    p No todos, yet. Add one below to get started. 
  form(method="post", action="/todo")
    input(type="hidden", name="list_id", value=list_id)
    input(type="text", name="todo")
    // blank space between input and button without CSS
    | 
    button(type="submit") Add Todo
  if cookies_disabled
    p
      small
        | Looks like cookies are disabled. You'll have to bookmark this page to return to it.
        | Enabling cookies will make it easier to get back to your list.
